.allProductContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 75%;
  /* border: 2px solid black; */
  padding-top: 10px;
}

.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 95vw;
}
.productsContainer {
  width: 70%;
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.searchBarContainer {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.searchBarContainer input {
  padding: 15px;
  outline: blue;
  border-radius: 10px;
  width: 80%;
  /* border: 1px black; */
}
