.itemContainer {
  display: flex;
  /* align-items: center; */
  justify-content: space-evenly;
  border-bottom: 1px solid rgb(196, 175, 175);
  width: 95%;
  margin-top: 20px;
}

.imageAndQuantityContainer {
  width: 30%;
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.productDetailContainer {
  width: 60%;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
}

.brandContainer {
  color: rgb(201, 50, 50);
  font-size: 0.8rem;
  font-weight: 700;
}

.productNameContainer {
  font-size: 0.8rem;
  margin: 7px 0;
  overflow: hidden;
  font-family: cursive;
}
.itemPriceContainer {
  font-size: 0.8rem;
  font-weight: 700;
}

.mainPriceContainer {
  font-size: 0.7rem;
  color: rgb(201, 50, 50);
  margin: 7px 0;
}

.mrp {
  text-decoration: line-through;
}

.discount {
  font-weight: 700;
}

.ratingsContainer {
  /* border: 2px solid black; */
  width: 35%;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  font-size: 0.7rem;
  margin-bottom: 10px;
}

.ratingValue {
  /* background-color: rgb(27, 199, 27); */
  padding: 5px;
  border-radius: 3px;
  animation: rating-color 4s ease-in-out alternate infinite;
  color: white;
  margin-right: 10px;
}

.ratingValue img {
  width: 15px;
}

.imageContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.imageContainer img {
  max-width: 200px;
  max-height: 150px;
}

.quantityContainer {
  width: 50%;
  /* height: 100px; */
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}

.quantityContainer button {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  cursor: pointer;
}

.quantityContainer button img {
  width: 30px;
  transition: 0.5s all ease-in;
}

.quantityContainer button img:active {
  transform: scale(1.1);
}

.quantity {
  padding: 3px 15px;
  background-color: whitesmoke;
}

.removeItem {
  width: 100%;
  /* border: 2px solid; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.removeItem button {
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  /* background: linear-gradient(45deg, rgb(233, 233, 46), yellow); */
  outline: none;
  border: 1px solid rgb(71, 71, 195);
  animation: button-color 4s ease-in-out alternate infinite;
  color: white;
}

@keyframes rating-color {
  0% {
    background-color: rgb(45, 160, 45);
  }

  50% {
    background-color: rgb(8, 91, 8);
  }

  100% {
    background-color: rgb(5, 43, 5);
  }
}

@keyframes button-color {
  0% {
    background-color: black;
  }

  50% {
    background-color: rgb(29, 27, 27);
  }

  100% {
    background-color: black;
  }
}
